<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>sjdsjajdjasjd</span>
</body>
</html>
<script src="/taotao/app/static/js/jquery-3.3.1.js" type="text/javascript">

</script>
<script>
    var cid =new Array()
    cid.push(8)
    var nums = new Array()
    nums.push(3)
    console.log(cid)
    var data_id = {
    id:JSON.stringify(cid),
    num:JSON.stringify(nums),

};

    $.ajax({
    type:'POST',
    async:false,
    url:"http://127.0.0.1:5000/deal/",
    data:data_id,
    success:function (data) {
        console.log(data)
    }
})

</script>